In [0]:
%sql

CREATE TABLE customers (
    customer_id INT ,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    city VARCHAR(50),
    email VARCHAR(100)
);

In [0]:
%sql
CREATE TABLE orders (
    order_id INT ,
    customer_id INT,
    order_date DATE,
    total_amount DECIMAL(10, 2)
);

In [0]:
%sql
CREATE TABLE order_details (
    order_detail_id INT ,
    order_id INT,
    customer_id INT,
    product_id INT,
    product_name VARCHAR(100),
    category VARCHAR(50),
    quantity INT,
    price_each DECIMAL(10,2),
    order_date DATE
);

In [0]:
%sql
INSERT INTO customers VALUES
(1, 'John', 'Doe', 'Delhi', 'john.doe@example.com'),
(2, 'Jane', 'Smith', 'Mumbai', 'jane.smith@example.com'),
(3, 'Raj', 'Kumar', 'Bangalore', 'raj.kumar@example.com'),
(4, 'Priya', 'Sharma', 'Hyderabad', 'priya.sharma@example.com'),
(5, 'Tom', 'Brown', 'Pune', 'tom.brown@example.com'),
(6, 'Sara', 'Ali', 'Chennai', 'sara.ali@example.com'),
(7, 'Vikram', 'Singh', 'Delhi', 'vikram.singh@example.com'),
(8, 'Neha', 'Patel', 'Mumbai', 'neha.patel@example.com'),
(9, 'David', 'Lee', 'Kolkata', 'david.lee@example.com'),
(10, 'Amit', 'Verma', 'Jaipur', 'amit.verma@example.com'),
(11, 'Emily', 'Clark', 'Delhi', 'emily.clark@example.com'),
(12, 'Ananya', 'Roy', 'Mumbai', 'ananya.roy@example.com'),
(13, 'Sam', 'Wilson', 'Pune', 'sam.wilson@example.com'),
(14, 'Pooja', 'Das', 'Hyderabad', 'pooja.das@example.com'),
(15, 'Arjun', 'Nair', 'Chennai', 'arjun.nair@example.com'),
(16, 'Kavita', 'Gupta', 'Bangalore', 'kavita.gupta@example.com'),
(17, 'Robert', 'King', 'Delhi', 'robert.king@example.com'),
(18, 'Meera', 'Joshi', 'Mumbai', 'meera.joshi@example.com'),
(19, 'Michael', 'Scott', 'Kolkata', 'michael.scott@example.com'),
(20, 'Ravi', 'Menon', 'Pune', 'ravi.menon@example.com'),
(21, 'Tina', 'Fernandez', 'Delhi', 'tina.fernandez@example.com'),
(22, 'Arvind', 'Singh', 'Hyderabad', 'arvind.singh@example.com'),
(23, 'Lucy', 'Adams', 'Chennai', 'lucy.adams@example.com'),
(24, 'Karan', 'Malhotra', 'Mumbai', 'karan.malhotra@example.com'),
(25, 'Sneha', 'Reddy', 'Pune', 'sneha.reddy@example.com'),
(26, 'George', 'Mason', 'Bangalore', 'george.mason@example.com'),
(27, 'Vishal', 'Kapoor', 'Kolkata', 'vishal.kapoor@example.com'),
(28, 'Emma', 'Watson', 'Delhi', 'emma.watson@example.com'),
(29, 'Siddharth', 'Jain', 'Hyderabad', 'siddharth.jain@example.com'),
(30, 'Olivia', 'Brown', 'Chennai', 'olivia.brown@example.com'),
(31, 'Nikhil', 'Arora', 'Mumbai', 'nikhil.arora@example.com'),
(32, 'Ayesha', 'Khan', 'Delhi', 'ayesha.khan@example.com'),
(33, 'Chris', 'Evans', 'Bangalore', 'chris.evans@example.com'),
(34, 'Ishita', 'Bhatt', 'Kolkata', 'ishita.bhatt@example.com'),
(35, 'Shyam', 'Patil', 'Pune', 'shyam.patil@example.com'),
(36, 'Sophia', 'Green', 'Chennai', 'sophia.green@example.com'),
(37, 'Harsh', 'Aggarwal', 'Hyderabad', 'harsh.aggarwal@example.com'),
(38, 'Liam', 'Martin', 'Delhi', 'liam.martin@example.com'),
(39, 'Diya', 'Saxena', 'Mumbai', 'diya.saxena@example.com'),
(40, 'Jason', 'Taylor', 'Kolkata', 'jason.taylor@example.com'),
(41, 'Ritika', 'Mehra', 'Pune', 'ritika.mehra@example.com'),
(42, 'Steve', 'Jobs', 'Bangalore', 'steve.jobs@example.com'),
(43, 'Alisha', 'Paul', 'Hyderabad', 'alisha.paul@example.com'),
(44, 'Dhruv', 'Singhania', 'Chennai', 'dhruv.singhania@example.com'),
(45, 'Rebecca', 'Lewis', 'Delhi', 'rebecca.lewis@example.com'),
(46, 'Naveen', 'Shetty', 'Mumbai', 'naveen.shetty@example.com'),
(47, 'Julia', 'Roberts', 'Pune', 'julia.roberts@example.com'),
(48, 'Parth', 'Desai', 'Hyderabad', 'parth.desai@example.com'),
(49, 'Nina', 'Shah', 'Chennai', 'nina.shah@example.com'),
(50, 'Aria', 'Gill', 'Bangalore', 'aria.gill@example.com');

num_affected_rows,num_inserted_rows
50,50

In [0]:
%sql
INSERT INTO orders VALUES
(1001, 1, '2023-01-10', 1500.00),
(1002, 2, '2023-01-11', 2500.00),
(1003, 3, '2023-01-15', 500.00),
(1004, 1, '2023-02-01', 750.00),
(1005, 4, '2023-02-05', 2000.00),
(1006, 5, '2023-02-08', 1800.00),
(1007, 6, '2023-03-01', 2200.00),
(1008, 7, '2023-03-05', 3000.00),
(1009, 8, '2023-03-09', 1200.00),
(1010, 9, '2023-03-10', 900.00),
(1011, 10, '2023-03-12', 1900.00),
(1012, 11, '2023-03-15', 1500.00),
(1013, 12, '2023-03-18', 2400.00),
(1014, 13, '2023-03-20', 600.00),
(1015, 14, '2023-03-22', 3000.00),
(1016, 15, '2023-03-25', 2800.00),
(1017, 16, '2023-03-28', 3200.00),
(1018, 17, '2023-03-30', 500.00),
(1019, 18, '2023-04-01', 950.00),
(1020, 19, '2023-04-03', 1750.00),
(1021, 20, '2023-04-05', 2100.00),
(1022, 21, '2023-04-08', 1200.00),
(1023, 22, '2023-04-10', 1400.00),
(1024, 23, '2023-04-12', 800.00),
(1025, 24, '2023-04-14', 3300.00),
(1026, 25, '2023-04-16', 2400.00),
(1027, 26, '2023-04-18', 1800.00),
(1028, 27, '2023-04-20', 2000.00),
(1029, 28, '2023-04-22', 2200.00),
(1030, 29, '2023-04-24', 1950.00),
(1031, 30, '2023-04-26', 2600.00),
(1032, 31, '2023-04-28', 1550.00),
(1033, 32, '2023-05-01', 2700.00),
(1034, 33, '2023-05-03', 1000.00),
(1035, 34, '2023-05-05', 1900.00),
(1036, 35, '2023-05-07', 2100.00),
(1037, 36, '2023-05-09', 1100.00),
(1038, 37, '2023-05-11', 1250.00),
(1039, 38, '2023-05-13', 1850.00),
(1040, 39, '2023-05-15', 1400.00),
(1041, 40, '2023-05-17', 1750.00),
(1042, 41, '2023-05-19', 900.00),
(1043, 42, '2023-05-21', 2500.00),
(1044, 43, '2023-05-23', 3000.00),
(1045, 44, '2023-05-25', 2100.00),
(1046, 45, '2023-05-27', 2600.00),
(1047, 46, '2023-05-29', 2700.00),
(1048, 47, '2023-05-31', 2800.00),
(1049, 48, '2023-06-02', 1500.00),
(1050, 49, '2023-06-04', 1200.00),
(1051, 50, '2023-06-06', 800.00),
(1052, 1, '2023-06-08', 2000.00),
(1053, 2, '2023-06-10', 2300.00),
(1054, 3, '2023-06-12', 1400.00),
(1055, 4, '2023-06-14', 1750.00),
(1056, 5, '2023-06-16', 2600.00),
(1057, 6, '2023-06-18', 2100.00),
(1058, 7, '2023-06-20', 900.00),
(1059, 8, '2023-06-22', 3000.00),
(1060, 9, '2023-06-24', 1200.00),
(1061, 10, '2023-06-26', 1850.00),
(1062, 11, '2023-06-28', 1750.00),
(1063, 12, '2023-06-30', 1600.00),
(1064, 13, '2023-07-02', 950.00),
(1065, 14, '2023-07-04', 2100.00),
(1066, 15, '2023-07-06', 2500.00),
(1067, 16, '2023-07-08', 3000.00),
(1068, 17, '2023-07-10', 2700.00),
(1069, 18, '2023-07-12', 1500.00),
(1070, 19, '2023-07-14', 1400.00);

num_affected_rows,num_inserted_rows
70,70

In [0]:
%sql
INSERT INTO order_details VALUES
(1, 1001, 1, 201, 'Laptop', 'Electronics', 1, 50000.00, '2023-01-10'),
(2, 1001, 1, 203, 'Headphones', 'Accessories', 2, 2000.00, '2023-01-10'),
(3, 1002, 2, 202, 'Smartphone', 'Electronics', 1, 30000.00, '2023-01-11'),
(4, 1003, 3, 205, 'Water Bottle', 'Kitchen', 3, 500.00, '2023-01-15'),
(5, 1004, 1, 208, 'Bluetooth Speaker', 'Electronics', 1, 3500.00, '2023-02-01'),
(6, 1005, 4, 204, 'Desk Chair', 'Furniture', 1, 4000.00, '2023-02-05'),
(7, 1006, 5, 207, 'Office Desk', 'Furniture', 1, 7000.00, '2023-02-08'),
(8, 1007, 6, 211, 'Tablet', 'Electronics', 2, 25000.00, '2023-03-01'),
(9, 1008, 7, 215, 'Gaming Chair', 'Furniture', 1, 15000.00, '2023-03-05'),
(10, 1009, 8, 209, 'Notebook', 'Stationery', 5, 200.00, '2023-03-09');

num_affected_rows,num_inserted_rows
10,10

In [0]:
%sql
SELECT * FROM ORDERS;

order_id,customer_id,order_date,total_amount
1001,1,2023-01-10,1500.00
1002,2,2023-01-11,2500.00
1003,3,2023-01-15,500.00
1004,1,2023-02-01,750.00
1005,4,2023-02-05,2000.00
1006,5,2023-02-08,1800.00
1007,6,2023-03-01,2200.00
1008,7,2023-03-05,3000.00
1009,8,2023-03-09,1200.00
1010,9,2023-03-10,900.00
1011,10,2023-03-12,1900.00
1012,11,2023-03-15,1500.00
1013,12,2023-03-18,2400.00
1014,13,2023-03-20,600.00
1015,14,2023-03-22,3000.00
1016,15,2023-03-25,2800.00
1017,16,2023-03-28,3200.00
1018,17,2023-03-30,500.00
1019,18,2023-04-01,950.00
1020,19,2023-04-03,1750.00
1021,20,2023-04-05,2100.00
1022,21,2023-04-08,1200.00
1023,22,2023-04-10,1400.00
1024,23,2023-04-12,800.00
1025,24,2023-04-14,3300.00
1026,25,2023-04-16,2400.00
1027,26,2023-04-18,1800.00
1028,27,2023-04-20,2000.00
1029,28,2023-04-22,2200.00
1030,29,2023-04-24,1950.00
1031,30,2023-04-26,2600.00
1032,31,2023-04-28,1550.00
1033,32,2023-05-01,2700.00
1034,33,2023-05-03,1000.00
1035,34,2023-05-05,1900.00
1036,35,2023-05-07,2100.00
1037,36,2023-05-09,1100.00
1038,37,2023-05-11,1250.00
1039,38,2023-05-13,1850.00
1040,39,2023-05-15,1400.00
1041,40,2023-05-17,1750.00
1042,41,2023-05-19,900.00
1043,42,2023-05-21,2500.00
1044,43,2023-05-23,3000.00
1045,44,2023-05-25,2100.00
1046,45,2023-05-27,2600.00
1047,46,2023-05-29,2700.00
1048,47,2023-05-31,2800.00
1049,48,2023-06-02,1500.00
1050,49,2023-06-04,1200.00
1051,50,2023-06-06,800.00
1052,1,2023-06-08,2000.00
1053,2,2023-06-10,2300.00
1054,3,2023-06-12,1400.00
1055,4,2023-06-14,1750.00
1056,5,2023-06-16,2600.00
1057,6,2023-06-18,2100.00
1058,7,2023-06-20,900.00
1059,8,2023-06-22,3000.00
1060,9,2023-06-24,1200.00
1061,10,2023-06-26,1850.00
1062,11,2023-06-28,1750.00
1063,12,2023-06-30,1600.00
1064,13,2023-07-02,950.00
1065,14,2023-07-04,2100.00
1066,15,2023-07-06,2500.00
1067,16,2023-07-08,3000.00
1068,17,2023-07-10,2700.00
1069,18,2023-07-12,1500.00
1070,19,2023-07-14,1400.00

In [0]:
%sql
SELECT * FROM ORDER_DETAILS;

order_detail_id,order_id,customer_id,product_id,product_name,category,quantity,price_each,order_date
1,1001,1,201,Laptop,Electronics,1,50000.00,2023-01-10
2,1001,1,203,Headphones,Accessories,2,2000.00,2023-01-10
3,1002,2,202,Smartphone,Electronics,1,30000.00,2023-01-11
4,1003,3,205,Water Bottle,Kitchen,3,500.00,2023-01-15
5,1004,1,208,Bluetooth Speaker,Electronics,1,3500.00,2023-02-01
6,1005,4,204,Desk Chair,Furniture,1,4000.00,2023-02-05
7,1006,5,207,Office Desk,Furniture,1,7000.00,2023-02-08
8,1007,6,211,Tablet,Electronics,2,25000.00,2023-03-01
9,1008,7,215,Gaming Chair,Furniture,1,15000.00,2023-03-05
10,1009,8,209,Notebook,Stationery,5,200.00,2023-03-09

In [0]:
%sql
SELECT * FROM CUSTOMERS;

customer_id,first_name,last_name,city,email
1,John,Doe,Delhi,john.doe@example.com
2,Jane,Smith,Mumbai,jane.smith@example.com
3,Raj,Kumar,Bangalore,raj.kumar@example.com
4,Priya,Sharma,Hyderabad,priya.sharma@example.com
5,Tom,Brown,Pune,tom.brown@example.com
6,Sara,Ali,Chennai,sara.ali@example.com
7,Vikram,Singh,Delhi,vikram.singh@example.com
8,Neha,Patel,Mumbai,neha.patel@example.com
9,David,Lee,Kolkata,david.lee@example.com
10,Amit,Verma,Jaipur,amit.verma@example.com
11,Emily,Clark,Delhi,emily.clark@example.com
12,Ananya,Roy,Mumbai,ananya.roy@example.com
13,Sam,Wilson,Pune,sam.wilson@example.com
14,Pooja,Das,Hyderabad,pooja.das@example.com
15,Arjun,Nair,Chennai,arjun.nair@example.com
16,Kavita,Gupta,Bangalore,kavita.gupta@example.com
17,Robert,King,Delhi,robert.king@example.com
18,Meera,Joshi,Mumbai,meera.joshi@example.com
19,Michael,Scott,Kolkata,michael.scott@example.com
20,Ravi,Menon,Pune,ravi.menon@example.com
21,Tina,Fernandez,Delhi,tina.fernandez@example.com
22,Arvind,Singh,Hyderabad,arvind.singh@example.com
23,Lucy,Adams,Chennai,lucy.adams@example.com
24,Karan,Malhotra,Mumbai,karan.malhotra@example.com
25,Sneha,Reddy,Pune,sneha.reddy@example.com
26,George,Mason,Bangalore,george.mason@example.com
27,Vishal,Kapoor,Kolkata,vishal.kapoor@example.com
28,Emma,Watson,Delhi,emma.watson@example.com
29,Siddharth,Jain,Hyderabad,siddharth.jain@example.com
30,Olivia,Brown,Chennai,olivia.brown@example.com
31,Nikhil,Arora,Mumbai,nikhil.arora@example.com
32,Ayesha,Khan,Delhi,ayesha.khan@example.com
33,Chris,Evans,Bangalore,chris.evans@example.com
34,Ishita,Bhatt,Kolkata,ishita.bhatt@example.com
35,Shyam,Patil,Pune,shyam.patil@example.com
36,Sophia,Green,Chennai,sophia.green@example.com
37,Harsh,Aggarwal,Hyderabad,harsh.aggarwal@example.com
38,Liam,Martin,Delhi,liam.martin@example.com
39,Diya,Saxena,Mumbai,diya.saxena@example.com
40,Jason,Taylor,Kolkata,jason.taylor@example.com
41,Ritika,Mehra,Pune,ritika.mehra@example.com
42,Steve,Jobs,Bangalore,steve.jobs@example.com
43,Alisha,Paul,Hyderabad,alisha.paul@example.com
44,Dhruv,Singhania,Chennai,dhruv.singhania@example.com
45,Rebecca,Lewis,Delhi,rebecca.lewis@example.com
46,Naveen,Shetty,Mumbai,naveen.shetty@example.com
47,Julia,Roberts,Pune,julia.roberts@example.com
48,Parth,Desai,Hyderabad,parth.desai@example.com
49,Nina,Shah,Chennai,nina.shah@example.com
50,Aria,Gill,Bangalore,aria.gill@example.com

In [0]:

%sql 
-- List all the cusotmer orders with product details 
--INNER JOIN

SELECT c.customer_id,c.first_name, c.last_name,o.order_id, o.product_name, o.quantity
FROM  CUSTOMERS as c INNER JOIN ORDER_DETAILS as o
ON c.customer_id = o.customer_id ;

customer_id,first_name,last_name,order_id,product_name,quantity
1,John,Doe,1004,Bluetooth Speaker,1
2,Jane,Smith,1002,Smartphone,1
3,Raj,Kumar,1003,Water Bottle,3
4,Priya,Sharma,1005,Desk Chair,1
5,Tom,Brown,1006,Office Desk,1
6,Sara,Ali,1007,Tablet,2
7,Vikram,Singh,1008,Gaming Chair,1
8,Neha,Patel,1009,Notebook,5
1,John,Doe,1001,Headphones,2
1,John,Doe,1001,Laptop,1

In [0]:
%sql
--Full Breakdown : custoemrs,order, product_info

SELECT c.first_name,od.customer_id,od.product_name,od.quantity,od.order_id,o.customer_id,o.order_id,od.price_each
FROM ORDER_DETAILS as od INNER JOIN ORDERS as o
ON od.order_id = o.order_id
INNER JOIN CUSTOMERS as c ON c.customer_id=od.customer_id ;

first_name,customer_id,product_name,quantity,order_id,customer_id,order_id,price_each
John,1,Laptop,1,1001,1,1001,50000.00
Jane,2,Smartphone,1,1002,2,1002,30000.00
Raj,3,Water Bottle,3,1003,3,1003,500.00
Priya,4,Desk Chair,1,1005,4,1005,4000.00
Tom,5,Office Desk,1,1006,5,1006,7000.00
Sara,6,Tablet,2,1007,6,1007,25000.00
Vikram,7,Gaming Chair,1,1008,7,1008,15000.00
Neha,8,Notebook,5,1009,8,1009,200.00
John,1,Bluetooth Speaker,1,1004,1,1004,3500.00
John,1,Headphones,2,1001,1,1001,2000.00

In [0]:
%sql

SELECT 
od.order_id, c.first_name, od.product_name, od.quantity, od.price_each

 FROM ORDER_DETAILS as od 
 INNER JOIN  ORDERS as o ON od.order_id=o.order_id
 INNER JOIN CUSTOMERS as c ON o.customer_id=c.customer_id

order_id,first_name,product_name,quantity,price_each
1001,John,Laptop,1,50000.00
1002,Jane,Smartphone,1,30000.00
1003,Raj,Water Bottle,3,500.00
1005,Priya,Desk Chair,1,4000.00
1006,Tom,Office Desk,1,7000.00
1007,Sara,Tablet,2,25000.00
1008,Vikram,Gaming Chair,1,15000.00
1009,Neha,Notebook,5,200.00
1004,John,Bluetooth Speaker,1,3500.00
1001,John,Headphones,2,2000.00

In [0]:
%sql 
SELECT C.first_name,c.last_name,C.customer_id,od.order_date,od.category,od.order_id
FROM CUSTOMERS as C LEFT JOIN order_details as Od
ON C.customer_id = od.customer_id;

first_name,last_name,customer_id,order_date,category,order_id
John,Doe,1,2023-02-01,Electronics,1004
Jane,Smith,2,2023-01-11,Electronics,1002
Raj,Kumar,3,2023-01-15,Kitchen,1003
Priya,Sharma,4,2023-02-05,Furniture,1005
Tom,Brown,5,2023-02-08,Furniture,1006
Sara,Ali,6,2023-03-01,Electronics,1007
Vikram,Singh,7,2023-03-05,Furniture,1008
Neha,Patel,8,2023-03-09,Stationery,1009
David,Lee,9,null,null,null
Amit,Verma,10,null,null,null
Emily,Clark,11,null,null,null
Ananya,Roy,12,null,null,null
Sam,Wilson,13,null,null,null
Pooja,Das,14,null,null,null
Arjun,Nair,15,null,null,null
Kavita,Gupta,16,null,null,null
Robert,King,17,null,null,null
Meera,Joshi,18,null,null,null
Michael,Scott,19,null,null,null
Ravi,Menon,20,null,null,null
Tina,Fernandez,21,null,null,null
Arvind,Singh,22,null,null,null
Lucy,Adams,23,null,null,null
Karan,Malhotra,24,null,null,null
Sneha,Reddy,25,null,null,null
George,Mason,26,null,null,null
Vishal,Kapoor,27,null,null,null
Emma,Watson,28,null,null,null
Siddharth,Jain,29,null,null,null
Olivia,Brown,30,null,null,null
Nikhil,Arora,31,null,null,null
Ayesha,Khan,32,null,null,null
Chris,Evans,33,null,null,null
Ishita,Bhatt,34,null,null,null
Shyam,Patil,35,null,null,null
Sophia,Green,36,null,null,null
Harsh,Aggarwal,37,null,null,null
Liam,Martin,38,null,null,null
Diya,Saxena,39,null,null,null
Jason,Taylor,40,null,null,null
Ritika,Mehra,41,null,null,null
Steve,Jobs,42,null,null,null
Alisha,Paul,43,null,null,null
Dhruv,Singhania,44,null,null,null
Rebecca,Lewis,45,null,null,null
Naveen,Shetty,46,null,null,null
Julia,Roberts,47,null,null,null
Parth,Desai,48,null,null,null
Nina,Shah,49,null,null,null
Aria,Gill,50,null,null,null
John,Doe,1,2023-01-10,Accessories,1001
John,Doe,1,2023-01-10,Electronics,1001

In [0]:
%sql 
--show inactive and active customers 

SELECT 
c.first_name,c.last_name,o.order_id,o.order_date
 FROM CUSTOMERS as c 
 LEFT JOIN ORDERS o ON c.customer_id=o.customer_id

first_name,last_name,order_id,order_date
John,Doe,1052,2023-06-08
Jane,Smith,1053,2023-06-10
Raj,Kumar,1054,2023-06-12
Priya,Sharma,1055,2023-06-14
Tom,Brown,1056,2023-06-16
Sara,Ali,1057,2023-06-18
Vikram,Singh,1058,2023-06-20
Neha,Patel,1059,2023-06-22
David,Lee,1060,2023-06-24
Amit,Verma,1061,2023-06-26
Emily,Clark,1062,2023-06-28
Ananya,Roy,1063,2023-06-30
Sam,Wilson,1064,2023-07-02
Pooja,Das,1065,2023-07-04
Arjun,Nair,1066,2023-07-06
Kavita,Gupta,1067,2023-07-08
Robert,King,1068,2023-07-10
Meera,Joshi,1069,2023-07-12
Michael,Scott,1070,2023-07-14
Ravi,Menon,1021,2023-04-05
Tina,Fernandez,1022,2023-04-08
Arvind,Singh,1023,2023-04-10
Lucy,Adams,1024,2023-04-12
Karan,Malhotra,1025,2023-04-14
Sneha,Reddy,1026,2023-04-16
George,Mason,1027,2023-04-18
Vishal,Kapoor,1028,2023-04-20
Emma,Watson,1029,2023-04-22
Siddharth,Jain,1030,2023-04-24
Olivia,Brown,1031,2023-04-26
Nikhil,Arora,1032,2023-04-28
Ayesha,Khan,1033,2023-05-01
Chris,Evans,1034,2023-05-03
Ishita,Bhatt,1035,2023-05-05
Shyam,Patil,1036,2023-05-07
Sophia,Green,1037,2023-05-09
Harsh,Aggarwal,1038,2023-05-11
Liam,Martin,1039,2023-05-13
Diya,Saxena,1040,2023-05-15
Jason,Taylor,1041,2023-05-17
Ritika,Mehra,1042,2023-05-19
Steve,Jobs,1043,2023-05-21
Alisha,Paul,1044,2023-05-23
Dhruv,Singhania,1045,2023-05-25
Rebecca,Lewis,1046,2023-05-27
Naveen,Shetty,1047,2023-05-29
Julia,Roberts,1048,2023-05-31
Parth,Desai,1049,2023-06-02
Nina,Shah,1050,2023-06-04
Aria,Gill,1051,2023-06-06
John,Doe,1004,2023-02-01
Jane,Smith,1002,2023-01-11
Raj,Kumar,1003,2023-01-15
Priya,Sharma,1005,2023-02-05
Tom,Brown,1006,2023-02-08
Sara,Ali,1007,2023-03-01
Vikram,Singh,1008,2023-03-05
Neha,Patel,1009,2023-03-09
David,Lee,1010,2023-03-10
Amit,Verma,1011,2023-03-12
Emily,Clark,1012,2023-03-15
Ananya,Roy,1013,2023-03-18
Sam,Wilson,1014,2023-03-20
Pooja,Das,1015,2023-03-22
Arjun,Nair,1016,2023-03-25
Kavita,Gupta,1017,2023-03-28
Robert,King,1018,2023-03-30
Meera,Joshi,1019,2023-04-01
Michael,Scott,1020,2023-04-03
John,Doe,1001,2023-01-10

In [0]:
%sql 
--Idenify the Customers who has not palced any order and followup with them 

SELECT 
c.first_name,c.last_name
 FROM CUSTOMERS as c 
 LEFT JOIN ORDERS as o 
 ON c.customer_id = o.customer_id
 where o.order_id is  null

In [0]:
   %sql 

--show inactive and active customers 

SELECT 
c.first_name,c.last_name,o.order_id,o.order_date
 FROM ORDERS as o 
 RIGHT JOIN CUSTOMERS c ON c.customer_id=o.customer_id

first_name,last_name,order_id,order_date
John,Doe,1052,2023-06-08
Jane,Smith,1053,2023-06-10
Raj,Kumar,1054,2023-06-12
Priya,Sharma,1055,2023-06-14
Tom,Brown,1056,2023-06-16
Sara,Ali,1057,2023-06-18
Vikram,Singh,1058,2023-06-20
Neha,Patel,1059,2023-06-22
David,Lee,1060,2023-06-24
Amit,Verma,1061,2023-06-26
Emily,Clark,1062,2023-06-28
Ananya,Roy,1063,2023-06-30
Sam,Wilson,1064,2023-07-02
Pooja,Das,1065,2023-07-04
Arjun,Nair,1066,2023-07-06
Kavita,Gupta,1067,2023-07-08
Robert,King,1068,2023-07-10
Meera,Joshi,1069,2023-07-12
Michael,Scott,1070,2023-07-14
Ravi,Menon,1021,2023-04-05
Tina,Fernandez,1022,2023-04-08
Arvind,Singh,1023,2023-04-10
Lucy,Adams,1024,2023-04-12
Karan,Malhotra,1025,2023-04-14
Sneha,Reddy,1026,2023-04-16
George,Mason,1027,2023-04-18
Vishal,Kapoor,1028,2023-04-20
Emma,Watson,1029,2023-04-22
Siddharth,Jain,1030,2023-04-24
Olivia,Brown,1031,2023-04-26
Nikhil,Arora,1032,2023-04-28
Ayesha,Khan,1033,2023-05-01
Chris,Evans,1034,2023-05-03
Ishita,Bhatt,1035,2023-05-05
Shyam,Patil,1036,2023-05-07
Sophia,Green,1037,2023-05-09
Harsh,Aggarwal,1038,2023-05-11
Liam,Martin,1039,2023-05-13
Diya,Saxena,1040,2023-05-15
Jason,Taylor,1041,2023-05-17
Ritika,Mehra,1042,2023-05-19
Steve,Jobs,1043,2023-05-21
Alisha,Paul,1044,2023-05-23
Dhruv,Singhania,1045,2023-05-25
Rebecca,Lewis,1046,2023-05-27
Naveen,Shetty,1047,2023-05-29
Julia,Roberts,1048,2023-05-31
Parth,Desai,1049,2023-06-02
Nina,Shah,1050,2023-06-04
Aria,Gill,1051,2023-06-06
John,Doe,1004,2023-02-01
Jane,Smith,1002,2023-01-11
Raj,Kumar,1003,2023-01-15
Priya,Sharma,1005,2023-02-05
Tom,Brown,1006,2023-02-08
Sara,Ali,1007,2023-03-01
Vikram,Singh,1008,2023-03-05
Neha,Patel,1009,2023-03-09
David,Lee,1010,2023-03-10
Amit,Verma,1011,2023-03-12
Emily,Clark,1012,2023-03-15
Ananya,Roy,1013,2023-03-18
Sam,Wilson,1014,2023-03-20
Pooja,Das,1015,2023-03-22
Arjun,Nair,1016,2023-03-25
Kavita,Gupta,1017,2023-03-28
Robert,King,1018,2023-03-30
Meera,Joshi,1019,2023-04-01
Michael,Scott,1020,2023-04-03
John,Doe,1001,2023-01-10

In [0]:
%sql
-- Only shows customers who HAVE orders.

SELECT c.customer_id, c.first_name, o.order_id, o.order_date
FROM customers c
INNER JOIN orders o ON c.customer_id = o.customer_id;

customer_id,first_name,order_id,order_date
1,John,1052,2023-06-08
2,Jane,1053,2023-06-10
3,Raj,1054,2023-06-12
4,Priya,1055,2023-06-14
5,Tom,1056,2023-06-16
6,Sara,1057,2023-06-18
7,Vikram,1058,2023-06-20
8,Neha,1059,2023-06-22
9,David,1060,2023-06-24
10,Amit,1061,2023-06-26
11,Emily,1062,2023-06-28
12,Ananya,1063,2023-06-30
13,Sam,1064,2023-07-02
14,Pooja,1065,2023-07-04
15,Arjun,1066,2023-07-06
16,Kavita,1067,2023-07-08
17,Robert,1068,2023-07-10
18,Meera,1069,2023-07-12
19,Michael,1070,2023-07-14
20,Ravi,1021,2023-04-05
21,Tina,1022,2023-04-08
22,Arvind,1023,2023-04-10
23,Lucy,1024,2023-04-12
24,Karan,1025,2023-04-14
25,Sneha,1026,2023-04-16
26,George,1027,2023-04-18
27,Vishal,1028,2023-04-20
28,Emma,1029,2023-04-22
29,Siddharth,1030,2023-04-24
30,Olivia,1031,2023-04-26
31,Nikhil,1032,2023-04-28
32,Ayesha,1033,2023-05-01
33,Chris,1034,2023-05-03
34,Ishita,1035,2023-05-05
35,Shyam,1036,2023-05-07
36,Sophia,1037,2023-05-09
37,Harsh,1038,2023-05-11
38,Liam,1039,2023-05-13
39,Diya,1040,2023-05-15
40,Jason,1041,2023-05-17
41,Ritika,1042,2023-05-19
42,Steve,1043,2023-05-21
43,Alisha,1044,2023-05-23
44,Dhruv,1045,2023-05-25
45,Rebecca,1046,2023-05-27
46,Naveen,1047,2023-05-29
47,Julia,1048,2023-05-31
48,Parth,1049,2023-06-02
49,Nina,1050,2023-06-04
50,Aria,1051,2023-06-06
1,John,1004,2023-02-01
2,Jane,1002,2023-01-11
3,Raj,1003,2023-01-15
4,Priya,1005,2023-02-05
5,Tom,1006,2023-02-08
6,Sara,1007,2023-03-01
7,Vikram,1008,2023-03-05
8,Neha,1009,2023-03-09
9,David,1010,2023-03-10
10,Amit,1011,2023-03-12
11,Emily,1012,2023-03-15
12,Ananya,1013,2023-03-18
13,Sam,1014,2023-03-20
14,Pooja,1015,2023-03-22
15,Arjun,1016,2023-03-25
16,Kavita,1017,2023-03-28
17,Robert,1018,2023-03-30
18,Meera,1019,2023-04-01
19,Michael,1020,2023-04-03
1,John,1001,2023-01-10

In [0]:
%sql
CREATE TABLE emp (
    emp_id INT ,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    manager_id INT,
    department VARCHAR(50)
);

In [0]:
%sql
INSERT INTO emp VALUES
(1, 'Alice', 'Johnson', NULL, 'Management'),
(2, 'Bob', 'Smith', 1, 'Sales'),
(3, 'Carol', 'Taylor', 1, 'Sales'),
(4, 'David', 'Brown', 2, 'Sales'),
(5, 'Eva', 'Davis', 2, 'Sales'),
(6, 'Frank', 'Miller', 1, 'Engineering'),
(7, 'Grace', 'Wilson', 6, 'Engineering'),
(8, 'Henry', 'Moore', 6, 'Engineering'),
(9, 'Ivy', 'Clark', 3, 'Sales'),
(10, 'Jack', 'Hall', 3, 'Sales');

num_affected_rows,num_inserted_rows
10,10

In [0]:
%sql

-- Employee + Their Manager
SELECT distinct e1.first_name AS employee, e2.first_name AS manager, e1.department
FROM emp e1
LEFT JOIN emp e2 ON e1.manager_id = e2.emp_id;

employee,manager,department
David,Bob,Sales
Henry,Frank,Engineering
Ivy,Carol,Sales
Eva,Bob,Sales
Bob,Alice,Sales
Frank,Alice,Engineering
Grace,Frank,Engineering
Carol,Alice,Sales
Jack,Carol,Sales
Alice,null,Management

In [0]:
%sql

--  Full audit of customers + orders (matched or not).
 SELECT c.first_name, o.order_id, od.product_name
FROM customers c
FULL OUTER JOIN orders o ON c.customer_id = o.customer_id
FULL OUTER JOIN order_details od ON o.order_id = od.order_id;

first_name,order_id,product_name
Ravi,1021,null
Sara,1007,Tablet
Tom,1006,Office Desk
Pooja,1015,null
Olivia,1031,null
Dhruv,1045,null
Priya,1055,null
Neha,1059,null
Neha,1009,Notebook
Parth,1049,null
Emily,1062,null
George,1027,null
Ananya,1063,null
Rebecca,1046,null
Diya,1040,null
Arjun,1016,null
Sam,1014,null
Pooja,1065,null
Meera,1069,null
Harsh,1038,null
Sophia,1037,null
John,1004,Bluetooth Speaker
Raj,1003,Water Bottle
Meera,1019,null
Tina,1022,null
Jane,1002,Smartphone
Naveen,1047,null
Priya,1005,Desk Chair
Ananya,1013,null
Amit,1011,null
Michael,1070,null
Lucy,1024,null
Steve,1043,null
Sara,1057,null
Shyam,1036,null
Alisha,1044,null
Sneha,1026,null
Vishal,1028,null
John,1052,null
Jane,1053,null
Robert,1068,null
Raj,1054,null
Julia,1048,null
Aria,1051,null
Robert,1018,null
Jason,1041,null
Kavita,1067,null
Nikhil,1032,null
Kavita,1017,null
Tom,1056,null
Emily,1012,null
Chris,1034,null
Ritika,1042,null
Vikram,1058,null
Nina,1050,null
Michael,1020,null
Ishita,1035,null
Arvind,1023,null
Siddharth,1030,null
David,1060,null
Ayesha,1033,null
Karan,1025,null
Sam,1064,null
David,1010,null
Emma,1029,null
Vikram,1008,Gaming Chair
John,1001,Headphones
Liam,1039,null
Arjun,1066,null
Amit,1061,null
John,1001,Laptop

In [0]:
%sql
-- Get list of all unique customer cities + unique product categories.

SELECT  city AS item FROM customers
UNION
SELECT  category FROM order_details;

item
Kolkata
Bangalore
Chennai
Jaipur
Delhi
Mumbai
Pune
Hyderabad
Accessories
Furniture
Stationery
Kitchen
Electronics

In [0]:
%sql
-- Get list of all unique customer cities + unique product categories.(WITH DUPLICATES)

SELECT DISTINCT city AS item FROM customers
UNION ALL 
SELECT DISTINCT category FROM order_details;

item
Kolkata
Bangalore
Chennai
Jaipur
Delhi
Mumbai
Pune
Hyderabad
Accessories
Furniture
Stationery
Kitchen
Electronics

In [0]:

%sql 
-- Top 3 Customers by Spend
SELECT 
c.first_name, c.last_name, SUM(od.quantity * od.price_each) AS total_spent
FROM customers c 
INNER JOIN orders o ON c.customer_id = o.customer_id
INNER JOIN Order_details od on o.order_id = od.order_id
GROUP BY c.customer_id,c.first_name, c.last_name
ORDER BY total_spent DESC
LIMIT 3

first_name,last_name,total_spent
John,Doe,57500.00
Sara,Ali,50000.00
Jane,Smith,30000.00

In [0]:

%sql 
-- Top 3 Customers by Spend
SELECT 
c.first_name, c.last_name, SUM(od.quantity * od.price_each) AS total_spent
FROM customers c 
INNER JOIN orders o ON c.customer_id = o.customer_id
INNER JOIN Order_details od on o.order_id = od.order_id
GROUP BY c.customer_id,c.first_name, c.last_name
ORDER BY total_spent DESC
LIMIT 3 OFFSET 2

first_name,last_name,total_spent
Jane,Smith,30000.00
Vikram,Singh,15000.00
Tom,Brown,7000.00