
# **Class** 6 of Pandas

In [1]:
import pandas as pd 

df=pd.read_csv('sales_messy.csv')
display(df)

    order_id customer_name       product    amount        date
0       1001           Bob        Mouse        NaN  2021-04-13
1       1002         Alice       monitor       NaN  15-12-2021
2       1003           Eve      keyboard       NaN  2021/09/28
3       1004         David       Laptop        NaN  not_a_date
4       1005         David         phone       NaN  17-04-2021
5       1006       Charlie      keyboard       NaN  13-03-2021
6       1007           Bob        Mouse        NaN  not_a_date
7       1008           Ivy       Laptop        NaN  08-07-2021
8       1009           Bob      keyboard       NaN  not_a_date
9       1010          Jack       Laptop   26691.16  not_a_date
10      1011         Grace      charger        NaN  21-01-2021
11      1012         Alice        Mouse        NaN  2021-04-13
12      1013         Alice        webcam  34244.66  2021-05-02
13      1014           Bob       monitor  37668.45  not_a_date
14      1015         David   headphones        NaN  2021/08/03
15      1016         David       monitor       NaN  not_a_date
16      1017           Ivy       monitor    660.64  not_a_date
17      1018          Jack      keyboard       NaN  not_a_date
18      1019         Alice        Mouse        NaN  2021-11-27
19      1020           Ivy       Laptop        NaN  2021-03-29
20      1021         David   headphones        NaN  2021-04-10
21      1022           Ivy       tablet   42162.63  not_a_date
22      1023         Grace      keyboard       NaN  2021/12/26
23      1024         David   headphones        NaN  2021-06-01
24      1025         Helen        webcam  27199.26  11-05-2021
25      1026          Jack      charger   45965.43  30-05-2021
26      1027           Eve        Mouse        NaN  05-11-2021
27      1028         Alice       tablet        NaN  not_a_date
28      1029       Charlie      keyboard       NaN  15-09-2021
29      1030         Grace       monitor       NaN  not_a_date
30      1031         Frank         phone       NaN  10-12-2021
31      1032           Eve      keyboard       NaN  2021/10/21
32      1033       Charlie         phone  40893.15  not_a_date
33      1034         David       monitor       NaN  11-07-2021
34      1035         Frank      charger   33157.67  2021-10-04
35      1036           Bob        Mouse    8673.78  not_a_date
36      1037           Bob       Laptop        NaN  2021-06-10
37      1038         Grace      keyboard  48235.96  2021-11-10
38      1039           Bob       monitor  37885.63  2021-01-22
39      1040         Frank      keyboard       NaN  2021-09-10
40      1041         Frank        webcam  20250.12  24-08-2021
41      1042          Jack      charger        NaN  11-12-2021
42      1043           Eve        webcam       NaN  not_a_date
43      1044         Alice   headphones        NaN  not_a_date
44      1045         Helen        Mouse        NaN  not_a_date
45      1046           Ivy   headphones        NaN  18-02-2021
46      1047           Bob      keyboard       NaN  not_a_date
47      1048         Grace       tablet    4014.16  2021-02-28
48      1049           Bob       tablet        NaN  19-06-2021
49      1050           Ivy        Mouse        NaN  not_a_date

In [2]:
display(df.tail())

    order_id customer_name       product   amount        date
45      1046           Ivy   headphones       NaN  18-02-2021
46      1047           Bob      keyboard      NaN  not_a_date
47      1048         Grace       tablet   4014.16  2021-02-28
48      1049           Bob       tablet       NaN  19-06-2021
49      1050           Ivy        Mouse       NaN  not_a_date

In [3]:
print("Null Counts : ",df.isnull().sum())

Null Counts :  order_id          0
customer_name     0
product           0
amount           36
date              0
dtype: int64

In [4]:
print("Data Types : \n",df.dtypes)

Data Types :
 order_id           int64
customer_name     object
product           object
amount           float64
date              object
dtype: object

In [5]:
display(df['product'])

0           Mouse
1          monitor
2         keyboard
3          Laptop
4            phone
5         keyboard
6           Mouse
7          Laptop
8         keyboard
9          Laptop
10        charger
11          Mouse
12          webcam
13         monitor
14     headphones
15         monitor
16         monitor
17        keyboard
18          Mouse
19         Laptop
20     headphones
21         tablet
22        keyboard
23     headphones
24          webcam
25        charger
26          Mouse
27         tablet
28        keyboard
29         monitor
30           phone
31        keyboard
32           phone
33         monitor
34        charger
35          Mouse
36         Laptop
37        keyboard
38         monitor
39        keyboard
40          webcam
41        charger
42          webcam
43     headphones
44          Mouse
45     headphones
46        keyboard
47         tablet
48         tablet
49          Mouse
Name: product, dtype: object

In [6]:
#Applying the Function to remove extra spaces and Camel Case to Product
df['product']=df['product'].str.strip().str.title()
display(df)

    order_id customer_name     product    amount        date
0       1001           Bob       Mouse       NaN  2021-04-13
1       1002         Alice     Monitor       NaN  15-12-2021
2       1003           Eve    Keyboard       NaN  2021/09/28
3       1004         David      Laptop       NaN  not_a_date
4       1005         David       Phone       NaN  17-04-2021
5       1006       Charlie    Keyboard       NaN  13-03-2021
6       1007           Bob       Mouse       NaN  not_a_date
7       1008           Ivy      Laptop       NaN  08-07-2021
8       1009           Bob    Keyboard       NaN  not_a_date
9       1010          Jack      Laptop  26691.16  not_a_date
10      1011         Grace     Charger       NaN  21-01-2021
11      1012         Alice       Mouse       NaN  2021-04-13
12      1013         Alice      Webcam  34244.66  2021-05-02
13      1014           Bob     Monitor  37668.45  not_a_date
14      1015         David  Headphones       NaN  2021/08/03
15      1016         David     Monitor       NaN  not_a_date
16      1017           Ivy     Monitor    660.64  not_a_date
17      1018          Jack    Keyboard       NaN  not_a_date
18      1019         Alice       Mouse       NaN  2021-11-27
19      1020           Ivy      Laptop       NaN  2021-03-29
20      1021         David  Headphones       NaN  2021-04-10
21      1022           Ivy      Tablet  42162.63  not_a_date
22      1023         Grace    Keyboard       NaN  2021/12/26
23      1024         David  Headphones       NaN  2021-06-01
24      1025         Helen      Webcam  27199.26  11-05-2021
25      1026          Jack     Charger  45965.43  30-05-2021
26      1027           Eve       Mouse       NaN  05-11-2021
27      1028         Alice      Tablet       NaN  not_a_date
28      1029       Charlie    Keyboard       NaN  15-09-2021
29      1030         Grace     Monitor       NaN  not_a_date
30      1031         Frank       Phone       NaN  10-12-2021
31      1032           Eve    Keyboard       NaN  2021/10/21
32      1033       Charlie       Phone  40893.15  not_a_date
33      1034         David     Monitor       NaN  11-07-2021
34      1035         Frank     Charger  33157.67  2021-10-04
35      1036           Bob       Mouse   8673.78  not_a_date
36      1037           Bob      Laptop       NaN  2021-06-10
37      1038         Grace    Keyboard  48235.96  2021-11-10
38      1039           Bob     Monitor  37885.63  2021-01-22
39      1040         Frank    Keyboard       NaN  2021-09-10
40      1041         Frank      Webcam  20250.12  24-08-2021
41      1042          Jack     Charger       NaN  11-12-2021
42      1043           Eve      Webcam       NaN  not_a_date
43      1044         Alice  Headphones       NaN  not_a_date
44      1045         Helen       Mouse       NaN  not_a_date
45      1046           Ivy  Headphones       NaN  18-02-2021
46      1047           Bob    Keyboard       NaN  not_a_date
47      1048         Grace      Tablet   4014.16  2021-02-28
48      1049           Bob      Tablet       NaN  19-06-2021
49      1050           Ivy       Mouse       NaN  not_a_date

In [7]:
print(df['product'].unique())

['Mouse' 'Monitor' 'Keyboard' 'Laptop' 'Phone' 'Charger' 'Webcam'
 'Headphones' 'Tablet']

In [8]:
#Handel the Amount Column - Filling the Missing Values 

print(df['amount'].describe())

count       14.000000
mean     29121.621429
std      15434.557652
min        660.640000
25%      21860.380000
50%      33701.165000
75%      40141.270000
max      48235.960000
Name: amount, dtype: float64

In [9]:
#Fill the missing values with median
df['amount']=df['amount'].fillna(df['amount'].median())
display(df)

    order_id customer_name     product     amount        date
0       1001           Bob       Mouse  33701.165  2021-04-13
1       1002         Alice     Monitor  33701.165  15-12-2021
2       1003           Eve    Keyboard  33701.165  2021/09/28
3       1004         David      Laptop  33701.165  not_a_date
4       1005         David       Phone  33701.165  17-04-2021
5       1006       Charlie    Keyboard  33701.165  13-03-2021
6       1007           Bob       Mouse  33701.165  not_a_date
7       1008           Ivy      Laptop  33701.165  08-07-2021
8       1009           Bob    Keyboard  33701.165  not_a_date
9       1010          Jack      Laptop  26691.160  not_a_date
10      1011         Grace     Charger  33701.165  21-01-2021
11      1012         Alice       Mouse  33701.165  2021-04-13
12      1013         Alice      Webcam  34244.660  2021-05-02
13      1014           Bob     Monitor  37668.450  not_a_date
14      1015         David  Headphones  33701.165  2021/08/03
15      1016         David     Monitor  33701.165  not_a_date
16      1017           Ivy     Monitor    660.640  not_a_date
17      1018          Jack    Keyboard  33701.165  not_a_date
18      1019         Alice       Mouse  33701.165  2021-11-27
19      1020           Ivy      Laptop  33701.165  2021-03-29
20      1021         David  Headphones  33701.165  2021-04-10
21      1022           Ivy      Tablet  42162.630  not_a_date
22      1023         Grace    Keyboard  33701.165  2021/12/26
23      1024         David  Headphones  33701.165  2021-06-01
24      1025         Helen      Webcam  27199.260  11-05-2021
25      1026          Jack     Charger  45965.430  30-05-2021
26      1027           Eve       Mouse  33701.165  05-11-2021
27      1028         Alice      Tablet  33701.165  not_a_date
28      1029       Charlie    Keyboard  33701.165  15-09-2021
29      1030         Grace     Monitor  33701.165  not_a_date
30      1031         Frank       Phone  33701.165  10-12-2021
31      1032           Eve    Keyboard  33701.165  2021/10/21
32      1033       Charlie       Phone  40893.150  not_a_date
33      1034         David     Monitor  33701.165  11-07-2021
34      1035         Frank     Charger  33157.670  2021-10-04
35      1036           Bob       Mouse   8673.780  not_a_date
36      1037           Bob      Laptop  33701.165  2021-06-10
37      1038         Grace    Keyboard  48235.960  2021-11-10
38      1039           Bob     Monitor  37885.630  2021-01-22
39      1040         Frank    Keyboard  33701.165  2021-09-10
40      1041         Frank      Webcam  20250.120  24-08-2021
41      1042          Jack     Charger  33701.165  11-12-2021
42      1043           Eve      Webcam  33701.165  not_a_date
43      1044         Alice  Headphones  33701.165  not_a_date
44      1045         Helen       Mouse  33701.165  not_a_date
45      1046           Ivy  Headphones  33701.165  18-02-2021
46      1047           Bob    Keyboard  33701.165  not_a_date
47      1048         Grace      Tablet   4014.160  2021-02-28
48      1049           Bob      Tablet  33701.165  19-06-2021
49      1050           Ivy       Mouse  33701.165  not_a_date

In [10]:
#Fix the date column  parse & clean invalid entries

df['date']=pd.to_datetime(df['date'],errors='coerce')
print("\n\n\nInvalid Date: ",df['date'].isnull().sum())

#Fill the Null Dates 
df['date']=df['date'].fillna(method='ffill')

display(df)

Invalid Date:  37

C:\Users\Mohan\AppData\Local\Temp\ipykernel_9740\1525595300.py:7: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['date']=df['date'].fillna(method='ffill')

    order_id customer_name     product     amount       date
0       1001           Bob       Mouse  33701.165 2021-04-13
1       1002         Alice     Monitor  33701.165 2021-04-13
2       1003           Eve    Keyboard  33701.165 2021-04-13
3       1004         David      Laptop  33701.165 2021-04-13
4       1005         David       Phone  33701.165 2021-04-13
5       1006       Charlie    Keyboard  33701.165 2021-04-13
6       1007           Bob       Mouse  33701.165 2021-04-13
7       1008           Ivy      Laptop  33701.165 2021-04-13
8       1009           Bob    Keyboard  33701.165 2021-04-13
9       1010          Jack      Laptop  26691.160 2021-04-13
10      1011         Grace     Charger  33701.165 2021-04-13
11      1012         Alice       Mouse  33701.165 2021-04-13
12      1013         Alice      Webcam  34244.660 2021-05-02
13      1014           Bob     Monitor  37668.450 2021-05-02
14      1015         David  Headphones  33701.165 2021-05-02
15      1016         David     Monitor  33701.165 2021-05-02
16      1017           Ivy     Monitor    660.640 2021-05-02
17      1018          Jack    Keyboard  33701.165 2021-05-02
18      1019         Alice       Mouse  33701.165 2021-11-27
19      1020           Ivy      Laptop  33701.165 2021-03-29
20      1021         David  Headphones  33701.165 2021-04-10
21      1022           Ivy      Tablet  42162.630 2021-04-10
22      1023         Grace    Keyboard  33701.165 2021-04-10
23      1024         David  Headphones  33701.165 2021-06-01
24      1025         Helen      Webcam  27199.260 2021-06-01
25      1026          Jack     Charger  45965.430 2021-06-01
26      1027           Eve       Mouse  33701.165 2021-06-01
27      1028         Alice      Tablet  33701.165 2021-06-01
28      1029       Charlie    Keyboard  33701.165 2021-06-01
29      1030         Grace     Monitor  33701.165 2021-06-01
30      1031         Frank       Phone  33701.165 2021-06-01
31      1032           Eve    Keyboard  33701.165 2021-06-01
32      1033       Charlie       Phone  40893.150 2021-06-01
33      1034         David     Monitor  33701.165 2021-06-01
34      1035         Frank     Charger  33157.670 2021-10-04
35      1036           Bob       Mouse   8673.780 2021-10-04
36      1037           Bob      Laptop  33701.165 2021-06-10
37      1038         Grace    Keyboard  48235.960 2021-11-10
38      1039           Bob     Monitor  37885.630 2021-01-22
39      1040         Frank    Keyboard  33701.165 2021-09-10
40      1041         Frank      Webcam  20250.120 2021-09-10
41      1042          Jack     Charger  33701.165 2021-09-10
42      1043           Eve      Webcam  33701.165 2021-09-10
43      1044         Alice  Headphones  33701.165 2021-09-10
44      1045         Helen       Mouse  33701.165 2021-09-10
45      1046           Ivy  Headphones  33701.165 2021-09-10
46      1047           Bob    Keyboard  33701.165 2021-09-10
47      1048         Grace      Tablet   4014.160 2021-02-28
48      1049           Bob      Tablet  33701.165 2021-02-28
49      1050           Ivy       Mouse  33701.165 2021-02-28

In [11]:
#Add Some useful Columns for Analytics like YEar and Month

df['year']=df['date'].dt.year
df['month']=df['date'].dt.month
display(df)

    order_id customer_name     product     amount       date  year  month
0       1001           Bob       Mouse  33701.165 2021-04-13  2021      4
1       1002         Alice     Monitor  33701.165 2021-04-13  2021      4
2       1003           Eve    Keyboard  33701.165 2021-04-13  2021      4
3       1004         David      Laptop  33701.165 2021-04-13  2021      4
4       1005         David       Phone  33701.165 2021-04-13  2021      4
5       1006       Charlie    Keyboard  33701.165 2021-04-13  2021      4
6       1007           Bob       Mouse  33701.165 2021-04-13  2021      4
7       1008           Ivy      Laptop  33701.165 2021-04-13  2021      4
8       1009           Bob    Keyboard  33701.165 2021-04-13  2021      4
9       1010          Jack      Laptop  26691.160 2021-04-13  2021      4
10      1011         Grace     Charger  33701.165 2021-04-13  2021      4
11      1012         Alice       Mouse  33701.165 2021-04-13  2021      4
12      1013         Alice      Webcam  34244.660 2021-05-02  2021      5
13      1014           Bob     Monitor  37668.450 2021-05-02  2021      5
14      1015         David  Headphones  33701.165 2021-05-02  2021      5
15      1016         David     Monitor  33701.165 2021-05-02  2021      5
16      1017           Ivy     Monitor    660.640 2021-05-02  2021      5
17      1018          Jack    Keyboard  33701.165 2021-05-02  2021      5
18      1019         Alice       Mouse  33701.165 2021-11-27  2021     11
19      1020           Ivy      Laptop  33701.165 2021-03-29  2021      3
20      1021         David  Headphones  33701.165 2021-04-10  2021      4
21      1022           Ivy      Tablet  42162.630 2021-04-10  2021      4
22      1023         Grace    Keyboard  33701.165 2021-04-10  2021      4
23      1024         David  Headphones  33701.165 2021-06-01  2021      6
24      1025         Helen      Webcam  27199.260 2021-06-01  2021      6
25      1026          Jack     Charger  45965.430 2021-06-01  2021      6
26      1027           Eve       Mouse  33701.165 2021-06-01  2021      6
27      1028         Alice      Tablet  33701.165 2021-06-01  2021      6
28      1029       Charlie    Keyboard  33701.165 2021-06-01  2021      6
29      1030         Grace     Monitor  33701.165 2021-06-01  2021      6
30      1031         Frank       Phone  33701.165 2021-06-01  2021      6
31      1032           Eve    Keyboard  33701.165 2021-06-01  2021      6
32      1033       Charlie       Phone  40893.150 2021-06-01  2021      6
33      1034         David     Monitor  33701.165 2021-06-01  2021      6
34      1035         Frank     Charger  33157.670 2021-10-04  2021     10
35      1036           Bob       Mouse   8673.780 2021-10-04  2021     10
36      1037           Bob      Laptop  33701.165 2021-06-10  2021      6
37      1038         Grace    Keyboard  48235.960 2021-11-10  2021     11
38      1039           Bob     Monitor  37885.630 2021-01-22  2021      1
39      1040         Frank    Keyboard  33701.165 2021-09-10  2021      9
40      1041         Frank      Webcam  20250.120 2021-09-10  2021      9
41      1042          Jack     Charger  33701.165 2021-09-10  2021      9
42      1043           Eve      Webcam  33701.165 2021-09-10  2021      9
43      1044         Alice  Headphones  33701.165 2021-09-10  2021      9
44      1045         Helen       Mouse  33701.165 2021-09-10  2021      9
45      1046           Ivy  Headphones  33701.165 2021-09-10  2021      9
46      1047           Bob    Keyboard  33701.165 2021-09-10  2021      9
47      1048         Grace      Tablet   4014.160 2021-02-28  2021      2
48      1049           Bob      Tablet  33701.165 2021-02-28  2021      2
49      1050           Ivy       Mouse  33701.165 2021-02-28  2021      2

### **Final Step is alway is to do a Sanity Check**

In [12]:
print(df.info())
print(df.describe())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       50 non-null     int64
 1   customer_name  50 non-null     object
 2   product        50 non-null     object
 3   amount         50 non-null     float64
 4   date           50 non-null     datetime64[ns]
 5   year           50 non-null     int32
 6   month          50 non-null     int32
dtypes: datetime64[ns](1), float64(1), int32(2), int64(1), object(2)
memory usage: 2.5+ KB
None
         order_id        amount                 date    year      month
count    50.00000     50.000000                   50    50.0  50.000000
mean   1025.50000  32418.892800  2021-06-01 05:16:48  2021.0   5.720000
min    1001.00000    660.640000  2021-01-22 00:00:00  2021.0   1.000000
25%    1013.25000  33701.165000  2021-04-13 00:00:00  2021.0   4.000000
50%    1025.50000  33701.165000  2021-05-02 00:00:00  2021.0   5.000000
75%    1037.75000  33701.165000  2021-06-07 18:00:00  2021.0   6.000000
max    1050.00000  48235.960000  2021-11-27 00:00:00  2021.0  11.000000
std      14.57738   8216.872114                  NaN     0.0   2.466428
   order_id customer_name   product     amount       date  year  month
0      1001           Bob     Mouse  33701.165 2021-04-13  2021      4
1      1002         Alice   Monitor  33701.165 2021-04-13  2021      4
2      1003           Eve  Keyboard  33701.165 2021-04-13  2021      4
3      1004         David    Laptop  33701.165 2021-04-13  2021      4
4      1005         David     Phone  33701.165 2021-04-13  2021      4

In [13]:
display(df)

    order_id customer_name     product     amount       date  year  month
0       1001           Bob       Mouse  33701.165 2021-04-13  2021      4
1       1002         Alice     Monitor  33701.165 2021-04-13  2021      4
2       1003           Eve    Keyboard  33701.165 2021-04-13  2021      4
3       1004         David      Laptop  33701.165 2021-04-13  2021      4
4       1005         David       Phone  33701.165 2021-04-13  2021      4
5       1006       Charlie    Keyboard  33701.165 2021-04-13  2021      4
6       1007           Bob       Mouse  33701.165 2021-04-13  2021      4
7       1008           Ivy      Laptop  33701.165 2021-04-13  2021      4
8       1009           Bob    Keyboard  33701.165 2021-04-13  2021      4
9       1010          Jack      Laptop  26691.160 2021-04-13  2021      4
10      1011         Grace     Charger  33701.165 2021-04-13  2021      4
11      1012         Alice       Mouse  33701.165 2021-04-13  2021      4
12      1013         Alice      Webcam  34244.660 2021-05-02  2021      5
13      1014           Bob     Monitor  37668.450 2021-05-02  2021      5
14      1015         David  Headphones  33701.165 2021-05-02  2021      5
15      1016         David     Monitor  33701.165 2021-05-02  2021      5
16      1017           Ivy     Monitor    660.640 2021-05-02  2021      5
17      1018          Jack    Keyboard  33701.165 2021-05-02  2021      5
18      1019         Alice       Mouse  33701.165 2021-11-27  2021     11
19      1020           Ivy      Laptop  33701.165 2021-03-29  2021      3
20      1021         David  Headphones  33701.165 2021-04-10  2021      4
21      1022           Ivy      Tablet  42162.630 2021-04-10  2021      4
22      1023         Grace    Keyboard  33701.165 2021-04-10  2021      4
23      1024         David  Headphones  33701.165 2021-06-01  2021      6
24      1025         Helen      Webcam  27199.260 2021-06-01  2021      6
25      1026          Jack     Charger  45965.430 2021-06-01  2021      6
26      1027           Eve       Mouse  33701.165 2021-06-01  2021      6
27      1028         Alice      Tablet  33701.165 2021-06-01  2021      6
28      1029       Charlie    Keyboard  33701.165 2021-06-01  2021      6
29      1030         Grace     Monitor  33701.165 2021-06-01  2021      6
30      1031         Frank       Phone  33701.165 2021-06-01  2021      6
31      1032           Eve    Keyboard  33701.165 2021-06-01  2021      6
32      1033       Charlie       Phone  40893.150 2021-06-01  2021      6
33      1034         David     Monitor  33701.165 2021-06-01  2021      6
34      1035         Frank     Charger  33157.670 2021-10-04  2021     10
35      1036           Bob       Mouse   8673.780 2021-10-04  2021     10
36      1037           Bob      Laptop  33701.165 2021-06-10  2021      6
37      1038         Grace    Keyboard  48235.960 2021-11-10  2021     11
38      1039           Bob     Monitor  37885.630 2021-01-22  2021      1
39      1040         Frank    Keyboard  33701.165 2021-09-10  2021      9
40      1041         Frank      Webcam  20250.120 2021-09-10  2021      9
41      1042          Jack     Charger  33701.165 2021-09-10  2021      9
42      1043           Eve      Webcam  33701.165 2021-09-10  2021      9
43      1044         Alice  Headphones  33701.165 2021-09-10  2021      9
44      1045         Helen       Mouse  33701.165 2021-09-10  2021      9
45      1046           Ivy  Headphones  33701.165 2021-09-10  2021      9
46      1047           Bob    Keyboard  33701.165 2021-09-10  2021      9
47      1048         Grace      Tablet   4014.160 2021-02-28  2021      2
48      1049           Bob      Tablet  33701.165 2021-02-28  2021      2
49      1050           Ivy       Mouse  33701.165 2021-02-28  2021      2

In [14]:
df.to_csv("sales_cleaned_final_dummy.csv", index=False)