# **Class** 2 of Pandas

A Series is a one-dimensional labeled array in Pandas. Itâ€™s similar to a list or a single column in a DataFrame.

In [1]:
#library Import required
import pandas as pd

In [2]:
salaries=pd.Series([50000,60000,80000,100000])
display(salaries)

0     50000
1     60000
2     80000
3    100000
dtype: int64

In [3]:
type(salaries)

pandas.core.series.Series

**Interview Question**

_Follow-up Q: What is the difference between a list and a Series?_

âœ… Answer:
- A list is just a collection of values.
- A Series has index + values and supports vectorized operations, missing values, and metadata.

In [4]:
#Creating custom index in series
employee=pd.Series([50000,60000,70000],index=['Anurag','Stuti','Steve'])
print(employee)

Anurag    50000
Stuti     60000
Steve     70000
dtype: int64

 _Follow-up Q: What is the use of custom index?_

âœ… Answer:
It allows named lookups and simulates dictionary-like behavior:

In [5]:
print(employee['Anurag'])

50000

Series with Mixed Types

In [6]:
details=pd.Series(['Anurag',50000,'Data Engineer','Bengaluru'])
print(details)

0           Anurag
1            50000
2    Data Engineer
3        Bengaluru
dtype: object

_Follow-up Q: Can a Series hold different types?_

âœ… Answer:
Yes, unlike NumPy arrays, a Pandas Series can hold mixed data types, but it defaults to the most generic type (e.g., object).

Apply Math on Series

In [7]:
salaries = pd.Series([50000, 60000, 70000])
updated_salaries = salaries * 1.10  # 10% hike
print(updated_salaries)

0    55000.0
1    66000.0
2    77000.0
dtype: float64

Handling Missing Valiues in Series

In [8]:
data = pd.Series([100,None,300])
print('Orignal Series\n',data)

Orignal Series
 0    100.0
1      NaN
2    300.0
dtype: float64

In [9]:
print("Is Null:\n", data.isnull())

Is Null:
 0    False
1     True
2    False
dtype: bool

In [10]:
print("Fillna:\n", data.fillna(400))

Fillna:
 0    100.0
1    400.0
2    300.0
dtype: float64

_ðŸ§  Follow-up Q: Why does Pandas support None?_

âœ… Answer:
In real data, missing values are common. Pandas treats None or np.nan as null and provides built-in tools to handle them.

# DATAFRAME in PANDAS

A DataFrame is a 2D labeled table of rows and columns. Think of it as an in-memory Excel sheet or a SQL table.

In [11]:
data={
  'Name':['Anurag','Stuti','Steve'],
  'Salary':[50000,60000,70000],
  'Designation':['Data Engineer','Data Scientist','Data Analyst'],
  'Location':['Bengaluru','Bengaluru','Chaicago']
      }

df= pd.DataFrame(data)
display(df)

     Name  Salary     Designation   Location
0  Anurag   50000   Data Engineer  Bengaluru
1   Stuti   60000  Data Scientist  Bengaluru
2   Steve   70000    Data Analyst   Chaicago

_ðŸ§  Q: Why is dictionary-to-DataFrame conversion useful?_

âœ… A: Many real-world APIs or config files return data as dictionaries; converting them to DataFrames helps in processing.

Access Columns & Rows

In [12]:
display(df)

     Name  Salary     Designation   Location
0  Anurag   50000   Data Engineer  Bengaluru
1   Stuti   60000  Data Scientist  Bengaluru
2   Steve   70000    Data Analyst   Chaicago

In [13]:
#column level access
display(df['Salary'])

0    50000
1    60000
2    70000
Name: Salary, dtype: int64

In [14]:
#row level access
#using label
print(df.loc[0])

Name                  Anurag
Salary                 50000
Designation    Data Engineer
Location           Bengaluru
Name: 0, dtype: object

In [15]:
#using index
print(df.iloc[1])

Name                    Stuti
Salary                  60000
Designation    Data Scientist
Location            Bengaluru
Name: 1, dtype: object

_ðŸ§  Q: Difference between .loc[] and .iloc[]?_

âœ… A:

.loc[] is label-based (row names/index)

.iloc[] is position-based (integer index)

In [16]:
df['Bonus']=df['Salary']*0.10
display(df)

     Name  Salary     Designation   Location   Bonus
0  Anurag   50000   Data Engineer  Bengaluru  5000.0
1   Stuti   60000  Data Scientist  Bengaluru  6000.0
2   Steve   70000    Data Analyst   Chaicago  7000.0